@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}
@fonr-face {
	font-family: "Nippo", sans-serif;
	src: url("Nippo-Bold.ttf");
	font-display: swap;
}
h1 {
	font-family: "Nippo", sans-serif;
	@apply tracking-wide;
}
